<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer-box">
      <div class="logo-box">
        <a class="logo-lnk" href="" target="_blank">
          <svg class="footer-logo" width="127" height="20" fill="#fff">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <!-- Contacts -->
      <address class="contacts-wrapper">
        <ul class="contacts-list">
          <li>
            <a class="contacts-list-lnk" href="tel:+380665438912">
              UK: +38 066 543 8912</a
            >
          </li>
          <li>
            <p class="contacts-list-lnk">Ukraine, Kyiv</p>
          </li>
        </ul>
      </address>
    </div>
    <div class="link-wrapper">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            instagram
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            facebook
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            youtube
          </a>
        </li>
      </ul>
      <ul class="footer-about-list">
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            about us
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            our courses
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            our mentors
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            reviews
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-lnk"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            contacts
          </a>
        </li>
      </ul>
    </div>
    <div class="sub-wrapper">
      <form class="subscibe-form">
        <input
          class="subscibe-field"
          type="email"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          placeholder="Enter your email"
        />
      </form>
      <button class="subscibe-btn" type="submit">Go</button>
    </div>
    <div class="agreement">
      <p class="areement-text">
        Privacy Policy <br />
        Public Offering Agreement
      </p>
      <p class="areement-text">
        2023 Focus Frame <br />
        © All rights reserved
      </p>
    </div>
  </div>
</footer>
