<!-- HEADER -->

<header class="header">
  <div class="container">
    <div class="wrapper">
      <a href="index.html">
        <svg class="logo" width="127" height="20">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="group">
        <a href="#" class="link">
          <svg class="camera-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-camera"></use>
          </svg>
        </a>
        <button class="burger-btn" type="button">
          <svg class="burger-icon" width="32" height="22">
            <use href="./img/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- BURGER MENU -->

  <div class="backdrop">
    <div class="burger-menu">
      <button class="close-btn" type="button">
        <svg class="close-icon" width="16" height="16">
          <use href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>

      <nav class="mob-navigation">
        <ul class="mob-nav-list">
          <li>
            <a class="nav-link accent" href="#">About us</a>
          </li>
          <li>
            <a class="nav-link" href="#">Our courses</a>
          </li>
          <li>
            <a class="nav-link" href="#">Our mentors</a>
          </li>
          <li>
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li>
            <a class="nav-link" href="#">Contacts</a>
          </li>
        </ul>
      </nav>
      <picture class="burger-menu-img">
        <!-- change way to images -->
        <source
          srcset="
            ./img/menu-img/camera_menu_mobile@1x.jpg 1x,
            ./img/menu-img/camera_menu_mobile@2x.jpg 2x                         2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./img/menu-img/camera_menu_tablet@1x.jpg 1x,
            ./img/menu-img/camera_menu_tablet@2x.jpg 2x                         2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./img/menu-img/camera_menu_mobile@1x.jpg"
          alt="Camera"
          width="329"
          height="218"
        />
      </picture>
    </div>
  </div>
  <script>
    const burgerBtn = document.querySelector('.burger-btn');
    const closeBtn = document.querySelector('.close-btn');
    const backdrop = document.querySelector('.backdrop');
    const burgerMenu = document.querySelector('.burger-menu');

    burgerBtn.addEventListener('click', function () {
      backdrop.classList.add('is-open');
      burgerMenu.classList.add('is-open');
    });
    closeBtn.addEventListener('click', function () {
      backdrop.classList.remove('is-open');
      burgerMenu.classList.remove('is-open');
    });
  </script>
</header>
