<section class="courses">
	<div class="conainer cours-container">

		<div class="course-header">

			<div class="course-header-cover">
				<p class="course-header-up">Our <span class="course-header-down">Courses</span></p>
			</div>

			<p class="course-header-text">At our photography school, we offer a variety of courses that cover all
				aspects of
				this fascinating art. Regardless of your experience or skill level, we have courses to suit your
				needs
				and
				goals.</p>
		</div>

		<ol class="courses-list">
			<li class="courses-part">
				<div class="cours-header">
					<div>
						<button class="cours-button" type="button" area-label="course link" width="20px" height="20px">
							<a href="#">
								<svg class="cours-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
									viewBox="0 0 20 20" fill="none">
									<path d="M5 15L15 5" stroke="#777777" stroke-width="1.3" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M8.33325 5H14.9999V11.6667" stroke="#777777" stroke-width="1.3"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg></a>
						</button>

					</div>

					<div class="course-inside">
						<div class="course-title-section">
							<p class="course-title">Basics of<br> photography</p>
						</div>

						<div class="course-text">
							<p class="course-text-fill">During this course, you will be able to familiarize yourself
								with different types of cameras, learn the basics of
								composition.
							</p>
						</div>
					</div>

				</div>

			</li>

			<li class="courses-part">
				<div class="cours-header">
					<div>
						<button class="cours-button" type="button" area-label="course link" width="20px"
							height="20px"><a href="#SingUp">
								<svg class="cours-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
									viewBox="0 0 20 20" fill="none">
									<path d="M5 15L15 5" stroke="#777777" stroke-width="1.3" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M8.33325 5H14.9999V11.6667" stroke="#777777" stroke-width="1.3"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg></a>
						</button>

					</div>

					<div class="course-inside">
						<div class="course-title-section">
							<p class="course-title">Landscape<br> photography</p>
						</div>

						<div class="course-text">
							<p class="course-text-fill">In this course, you'll learn how to choose the right angles,
								frame landscapes, and create depth and perspective in your
								images.
							</p>
						</div>
					</div>

				</div>

			</li>

			<li class="courses-part">
				<div class="cours-header">
					<div>
						<button class="cours-button" type="button" area-label="course link" width="20px" height="20px">
							<a href="#">
								<svg class="cours-arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
									viewBox="0 0 20 20" fill="none">
									<path d="M5 15L15 5" stroke="#777777" stroke-width="1.3" stroke-linecap="round"
										stroke-linejoin="round" />
									<path d="M8.33325 5H14.9999V11.6667" stroke="#777777" stroke-width="1.3"
										stroke-linecap="round" stroke-linejoin="round" />
								</svg></a>
						</button>

					</div>

					<div class="course-inside">
						<div class="course-title-section">
							<p class="course-title">Portrait<br> photography</p>
						</div>

						<div class="course-text">
							<p class="course-text-fill">During this course, you will learn to choose the right
								lighting,
								reproduce the mood and expressions on the faces of the
								models.
							</p>
						</div>
					</div>

				</div>

			</li>


		</ol>
	</div>



</section>