<!-- Our Mentors -->
<section id="our-mentors" class="mentors">
    <div class="container">
        <h2 class="title-mentors">Our <span class="style-mentors">Mentors</span></h2>
        <ul class="list-mentors">
            <li class="card-mentor"><img
                    srcset="./img/mentors-img/emilia@1x.webp 1x, ./img/mentors-img/emilia@2x.webp 2x"
                    src="./img/mentors-img/emilia@1x.webp" alt="Emilia Smith" width="180" height="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor">Emilia Smith</h3>
                    <p class="experience-mentor">1.5 years of experience</p>
                </div>
            </li>
            <li class="card-mentor"><img srcset="./img/mentors-img/alex@1x.webp 1x, ./img/mentors-img/alex@2x.webp 2x"
                    src="./img/mentors-img/alex@1x.webp" alt="Alex Lebedev" width="180" height="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor">Alex Lebedev</h3>
                    <p class="experience-mentor">3.5 years of experience</p>
                </div>
            </li>
            <li class="card-mentor"><img srcset="./img/mentors-img/mia@1x.webp 1x, ./img/mentors-img/mia@2x.webp 2x"
                    src="./img/mentors-img/mia@1x.webp" alt="Mia Dubrovska" width="180" height="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor mia">Mia Dubrovska</h3>
                    <p class="experience-mentor">2.0 years of experience</p>
                </div>
            </li>
            <li class="card-mentor"><img srcset="./img/mentors-img/eliot@1x.webp 1x, ./img/mentors-img/eliot@2x.webp 2x"
                    src="./img/mentors-img/eliot@1x.webp" alt="Eliot Kovalev" width="180" height="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor">Eliot Kovalev</h3>
                    <p class="experience-mentor">4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>
</section>