<section class="courses">
  <div class="container cours-container">
    <div class="course-titel">
      <div class="course-titel-cover">
        <h2 class="course-titel-up" id="our-courses">
          Our <span class="course-titel-down">Courses</span>
        </h2>
      </div>

      <p class="course-titel-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>

    <ol class="courses-list">
      <li class="courses-part">
        <div class="cours-titel">
          <div>
            <button
              class="cours-button"
              type="button"
              area-label="course link"
              width="20px"
              height="20px"
            >
              <a href="#sign-up">
                <svg class="cours-arrow" width="32" height="32">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
              </a>
            </button>
          </div>

          <div class="course-inside">
            <div class="course-title-section">
              <p class="course-title">
                Basics of<br />
                photography
              </p>
            </div>

            <div class="course-text">
              <p class="course-text-fill">
                During this course, you will be able to familiarize yourself
                with different types of cameras, learn the basics of
                composition.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="courses-part">
        <div class="cours-titel">
          <div>
            <button
              class="cours-button"
              type="button"
              area-label="course link"
              width="20px"
              height="20px"
            >
              <a href="#sign-up">
                <svg class="cours-arrow">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
              </a>
            </button>
          </div>

          <div class="course-inside">
            <div class="course-title-section">
              <p class="course-title">
                Landscape<br />
                photography
              </p>
            </div>

            <div class="course-text">
              <p class="course-text-fill">
                In this course, you'll learn how to choose the right angles,
                frame landscapes, and create depth and perspective in your
                images.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="courses-part">
        <div class="cours-titel">
          <div>
            <button
              class="cours-button"
              type="button"
              area-label="course link"
              width="20px"
              height="20px"
            >
              <a href="#sign-up">
                <svg class="cours-arrow">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
              </a>
            </button>
          </div>

          <div class="course-inside">
            <div class="course-title-section">
              <p class="course-title">
                Portrait<br />
                photography
              </p>
            </div>

            <div class="course-text">
              <p class="course-text-fill">
                During this course, you will learn to choose the right lighting,
                reproduce the mood and expressions on the faces of the models.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
