<section class="courses">
	<div class="conainer cours-container">

		<p class="course-header">Our <span class="course-header-next">Courses</span></p>

		<p class="course-header-text">At our photography school, we offer a variety of courses that cover all aspects of
			this fascinating art. Regardless of your experience or skill level, we have courses to suit your needs and
			goals.</p>

		<ol class="courses-list">
			<li class="courses-part">
				<div class="cours-header">
					<div>
						<button class="cours-button" type="button" area-label="course link" width="20px" height="20px">
							<svg class="cours-arrow">
								<use href="./images/icons.svg#icon-close-black"></use>
							</svg>
						</button>

					</div>
					<div class="course-title-section">
						<p class="course-title">Basics of photography</p>
					</div>

					<div class="course-text">
						<p class="course-text-fill">During this course, you will be able to familiarize yourself
							with different types of cameras, learn the basics of
							composition.
						</p>
					</div>




				</div>

			</li>
			<li class="courses-part"></li>
			<li class="courses-part"></li>
		</ol>
	</div>



</section>