<!-- Our Mentors -->
<div class="containor">
    <section class="mentors">
        <h2 class="title-mentors">Our <span class="style-mentors">Mentors</span></h2>
        <ul>
            <li class="card-mentor"><img srcset="./img/boy1@1x.jpg 1x, ../img/boy1@1x 2x" src="./img/boy1@1x.jpg"
                    alt="Emilia Smith" width="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor">Emilia Smith</h3>
                    <p class="experience-mentor">1.5 years of experience</p>
                </div>
            </li>
            <li class="card-mentor"><img srcset="../img/boy1@1x.jpg 1x, ../img/boy1@1x 2x" src="../img/boy1@1x.jpg"
                    alt="Alex Lebedev" width="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor">Alex Lebedev</h3>
                    <p class="experience-mentor">3.5 years of experience</p>
                </div>
            </li>
            <li class="card-mentor"><img srcset="../img/boy1@1x.jpg 1x, ../img/boy1@1x 2x" src="../img/boy1@1x.jpg"
                    alt="Mia Dubrovska" width="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor">Mia Dubrovska</h3>
                    <p class="experience-mentor">2.0 years of experience</p>
                </div>
            </li>
            <li class="card-mentor"><img srcset="../img/boy1@1x.jpg 1x, ../img/boy1@1x 2x" src="../img/boy1@1x.jpg"
                    alt="Eliot Kovalev" width="180">
                <div class="resume-mentor">
                    <h3 class="name-mentor">Eliot Kovalev</h3>
                    <p class="experience-mentor">4.0 years of experience</p>
                </div>
            </li>
        </ul>
</div>
</section>