<section class="reviews">
    <div class="container">

        <h2 class="section-header">Reviews</h2>

        <div class="box-reviews">
            <ul class="box-reviews-cards">

                <li class="reviews-card">
                    
                    <!-- About reviewer -->
                    <div class="reviewer-personality">
                        <img class="reviewer-photo" src="" alt="" />
                        <h3 class="reviewer-name"></h3>
                        <p class="reviewer-status"></p>
                    </div>

                    <!--Rating-->
                    <div class="box-reviewer-rating">
                        <ul class="reviewer-rating">
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-false">
                                    <use href=""></use>
                                </svg>
                            </li>
                        
                        </ul>
                    </div>
                
                    <!--Text review-->
                    <div class="review">
                        <p class="review-text">
                            I am very pleased that I decided to enroll in photography school. 
                            The teachers turned out to be very talented and experienced 
                            professionals who share their knowledge and are dedicated to 
                            their work. I was able to expand my skills and discover my own style.
                        </p>
                    </div>
                </li>

                <!--Hidden on the phone and tablet-->
                <li class="box-reviews-card hidden">

                    <!--About reviewer-->
                    <div class="reviewer-personality">
                        <img class="reviewer-photo" src="" alt="" />
                        <h3 class="reviewer-name"></h3>
                        <p class="reviewer-status"></p>
                        <ul class="reviewer-rating">
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-false">
                                    <use href=""></use>
                                </svg>
                            </li>
                    
                        </ul>
                    </div>

                    <!--Rating-->
                    <div class="box-reviewer-rating">
                        <ul class="reviewer-rating">
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-true">
                                    <use href=""></use>
                                </svg>
                            </li>
                            <li class="rating-star">
                                <svg class="star-icon-false">
                                    <use href=""></use>
                                </svg>
                            </li>
                    
                        </ul>
                    </div>
                    
                    <!--Text review-->
                    <div class="review">
                        <p class="review-text">
                            The courses at the photography school exceeded 
                            all my expectations. I gained not only technical 
                            knowledge, but also inspiration and motivation 
                            to reach new heights in my creativity. Hands-on 
                            classes and workshops helped me understand different 
                            styles of photography.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>