<section class="sign_up">
<div class="container signup">
    <div class="section-sing-up">
        <h2 id="sign-up" class="sign-logo">Sign<span class="sign-logo-part"> Up</span> </h2>
        <p class="sign-up-text">Please use the form below to contact us. Enter your name, email, and message and we'll
            get back to you shortly.</p>
        <form class="sign-form">
            <div class="form_list">
                <label class="form-label" for="user-name"> </label>
                <div class="form_field">
                    <input class="form_input" id="user-name" type="text" name="user-name" pattern="\+?[0-9\s\-\(\)]+"
                        placeholder="Enter your name">

                </div>
            </div>
            <div class="form_list">
                <label class="form-label" for="user_phone"></label>
                <div class="form_field">
                    <input class="form_input" id="user-phone" type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                        placeholder="Enter your email">

                </div>
            </div>


            <div class="form_wrapper">
                <label class="form-label" for="user-comment"></label>
                <textarea class="message" id="user-comment" name="user-comment" rows="7" placeholder="Message" 
                    required></textarea>
            </div>
            <button class="button-sign-up" type="submit">Send</button>
            <div class="sing-up-user-privacy">

                <label class="privacy_label" for="user-privacy">
                    By clicking on “Send” button, you agree to our
                    <a class="privacy-decor" href="">Privacy Policy,</a>
                    and allow Promodo to use this information for marketing purposes.
                </label>

            </div>


        </form>


    </div>
<div class="container-sing-up-foto">
    <div class="lens">
<picture>
    <img class="img-sign-one" src="./img/signup-img/part_desk1440@1x.png" width="163" height="154" />
</picture>
    </div>
    <div class="camera">
<picture>
    <img class="img-sign-two" src="./img/signup-img/camera_signup_desk1440@1x.png" width="254" height="313" />
</picture>
    </div>
</div>


</div>


    </section>
    