<section class="signup" id="sign-up">
  <div class="container">
    <div class="section-sing-up">
      <h2 class="sign-logo">Sign<span class="sign-logo-part"> Up</span></h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <input
          class="form_input"
          id="user-name"
          type="text"
          name="user-name"
          pattern="\w{3,20}"
          placeholder="Enter your name"
          required
        />

        <input
          class="form_input"
          id="user-email"
          type="email"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          placeholder="Enter your email"
          required
        />

        <div class="form_wrapper">
          <label class="form-label" for="user-comment"></label>
          <textarea
            class="message"
            id="user-comment"
            name="user-comment"
            rows="7"
            placeholder="Message"
          ></textarea>
        </div>
        <button class="button-sign-up" type="submit">Send</button>

        <p class="privacy_label">
          By clicking on “Send” button, you agree to our
          <a class="privacy-decor" href="">Privacy Policy,</a>
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="container-sing-up-foto">
      <div class="lens">
        <picture>
          <img
            class="img-sign-one"
            src="./img/signup-img/part_desk1440@1x.webp"
            width="163"
            height="154"
            alt="photo lens"
          />
        </picture>
      </div>
      <div class="camera">
        <picture>
          <img
            class="img-sign-two"
            src="./img/signup-img/camera_signup_desk1440@1x.webp"
            width="254"
            height="313"
            alt="camera"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
