/* .img {
width: 100%;
height: 100%;
border-radius: 0; 
} */
.about-section {
padding-top: 80px;
padding-bottom: 40px;
}
@media only screen and (min-width: 1280px) {
  .about-section {
    padding-top: 150px;
    padding-bottom: 75px;
  }
}
.title-about {
color: #FFF;
font-family: DM Sans;
font-size: 28px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -1.12px;
padding-bottom: 40px;

}
/* ... */
@media only screen and (min-width: 768px) {
.title-about {
font-size: 48px;
line-height: 1.12;
letter-spacing: -1.92px;
padding-bottom: 50px;
  }
}

.decor-about {
color: #BEA69E;
font-family: DM Sans;
font-size: 28px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -1.12px;
}

@media only screen and (min-width: 768px) {
.decor-about{
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -1.92px;
  }
}
.text {
color: var(--white, #FFF);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    
    letter-spacing: -0.28px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;

/* color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
letter-spacing: -0.02em; */
}
@media only screen and (min-width: 768px) {
.text {
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.32px;
padding-top: 0;
padding-bottom: 0;
  }
}


.about-text {
color: #FFF;
font-family: DM Sans;
font-weight: 400;
line-height: 1.25;
letter-spacing: -0.28px;
width: 100%;
/* padding-bottom: 40px; */
}
@media only screen and (min-width: 768px) {
.about-text {
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.32px;
  }
}

@media only screen and (min-width: 768px) {
.text-p {
 display: flex;
 flex-direction: row;
 gap: 40px;
 padding-top: 50px;
 align-items: flex-start;
        
}
}
@media only screen and (min-width: 1280px) {
  .text-p {
    padding-top: 0px;
    gap: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .text-p {
    gap: 40px;
  }
}
@media only screen and (min-width: 768px) {
 .section-text  {
    width: 280px;
  
  }
}
@media only screen and (min-width: 1280px) {
  .section-text{
    width: 268px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-text {
    width: 314px;
  }
}

@media only screen and (min-width: 768px) {
.section-courses {
    width: 280px;
    height: 215px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-courses {
    width: 264px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-courses{
    width: 276px;
  }
}
@media only screen and (min-width: 1280px) {
  .desc {
  /* display: flex;
  
  flex-wrap: nowrap; */
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  }
}