*,
*::before,
*::after {
  box-sizing: border-box;
}
.photo-skills {
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.photo-skills-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@keyframes running-line {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.text-line {
  color: #bea69e;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
  text-transform: uppercase;

  flex-shrink: 0;

  padding: 20px 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: running-line;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 768px) {
  .text-line {
    font-size: 40px;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.02em;
    padding: 24px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .text-line {
    font-size: 59px;
    line-height: 1.1; /* 108.475% */
    letter-spacing: -0.02em;
    padding: 24px 0;
  }
}
.text-decor {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .text-decor {
    font-size: 40px;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.02em;
  }
}
@media only screen and (min-width: 1280px) {
  .text-decor {
    font-size: 59px;
    line-height: 1.1; /* 108.475% */
    letter-spacing: -0.02em;
  }
}
