*,
*::before,
*::after {
  box-sizing: border-box;
}
.advertisement {
  overflow: hidden;
}

.advertisement-inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text-line {
  color: #bea69e;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
  text-transform: uppercase;

  flex-shrink: 0;
  margin: 0;
  padding: 24px 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 11s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.text-decor {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
