body {
    background-color: #121212;
    font-family: DM Sans;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

body a {
    text-decoration: none;
}

body ul {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    min-width: 320px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        
    }
}

.bg-wrapper {
    background-image: url(../img/background-footer.png);
}