.footer {
    background-image: url(../img/background-footer.png);
}

.footer>.container {
    max-width: 375px;
    display: block;
    /* background-color: #0f0e0e; */
    
    padding-top: 40px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .footer>.container {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 58px;
        row-gap: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .footer>.container {
        max-width: 1280px;
        column-gap: 135px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-box {
        margin-right: 150px;
    }
}

.logo-box {
    margin-bottom: 16px;
}

.logo-lnk {
    /* width: 127px;
    height: 20px; */
    color: #fff;
    font-size: 32px;
}

.contacts-wrapper {
    margin-bottom: 50px;
}

.contacts-list {
    display: inline-flex;
    flex-direction: column;
    width: 142px;
    height: 46px;
    justify-content: space-between;
}

.contacts-list-lnk {
    color: #fff;
    text-transform: uppercase;
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 75px;
}

@media only screen and (min-width: 768px) {
   .link-wrapper {
        gap: 25px;    
  }
}

@media only screen and (min-width: 1280px) {
    .link-wrapper {
        gap: 50px;
    }
}

.footer-social-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-social-lnk {
    color: #FFF;
    text-transform: uppercase;
}

.footer-social-lnk:hover {
    color: #BEA69E;
}

.footer-about-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sub-wrapper {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
   .sub-wrapper {
    margin-bottom: 0;    
  }
}

.subscibe-form {
    display: flex;
    width: 267px;
    height: 60px;
}

@media only screen and (min-width: 768px) {
    .subscibe-form {
        width: 178px;
    
  }
}

@media only screen and (min-width: 1280px) {
    .subscibe-form {
        width: 216px;
    
  }
}
.subscibe-field {
    width: 100%;
    height: 100%;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 12px;
    background: #FFF;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    outline: none;
}

.subscibe-field input::placeholder {
    opacity: 0.7;
}

.subscibe-field input:active {
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.subscibe-btn {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #1D1D1D;
    color: #fff;
    border: none;
    padding: 0;
}

.subscibe-btn:hover {
    background-color: #fff;
    color: #BEA69E;
}

.agreement {
    display: flex;
    color: #fff;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
   .agreement {
    gap: 399px;    
  }
}

@media only screen and (min-width: 1280px) {
    .agreement {
        gap: 773px;
    }
}

.areement-text {
    width: 147px;
    height: 32px;
    align-content: flex-start;
    color: #FFF;
    font-size: 12px;
    line-height: 1.33;
}

@media only screen and (min-width: 768px) {
    .areement-text {
        width: 171px;
        height: 36px;
        font-size: 14px;
        line-height: 1.29;
  }
}