.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}

.footer .container {
    /* max-width: 375px; */
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .footer .container {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .footer .container {
        max-width: 1280px;
    }
}

@media only screen and (min-width: 1440px) {
    .footer .container {
        max-width: 1440px;
}
}

@media only screen and (min-width: 1280px) {
    .footer-box {
        margin-right: 150px;
    }
}

.logo-box {
    margin-bottom: 16px;
}

.logo-lnk {
    color: #fff;
}

.contacts-wrapper {
    margin-bottom: 50px;
}

.contacts-list {
    display: inline-flex;
    flex-direction: column;
    width: 142px;
    height: 46px;
    justify-content: space-between;
}

.contacts-list-lnk {
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-adr {
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
}

.contacts-list-lnk:hover {
    color: #BEA69E;
    text-shadow: .5px .5px .5px #BEA69E;
    /* font-weight: 700; */
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 75px;
}

@media only screen and (min-width: 768px) {
   .link-wrapper {
        gap: 25px;    
  }
}

@media only screen and (min-width: 1280px) {
    .link-wrapper {
        gap: 50px;
    }
}

.footer-social-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-social-lnk {
    color: #FFF;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-lnk:hover {
    color: #BEA69E;
    text-shadow: .5px .5px .5px #BEA69E;
}

.footer-about-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sub-wrapper {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
   .sub-wrapper {
    margin-bottom: 0;    
  }
}

.subscibe-form {
    display: flex;
    width: 267px;
    height: 60px;
}

@media only screen and (min-width: 768px) {
    .subscibe-form {
        width: 178px;
    
  }
}

@media only screen and (min-width: 1280px) {
    .subscibe-form {
        width: 216px;
    
  }
}
.subscibe-field {
    width: 100%;
    height: 100%;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 12px;
    background: #FFF;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    outline: none;
}

.subscibe-field input::placeholder {
    opacity: 0.7;
}

.subscibe-field input:active {
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.subscibe-btn {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #1D1D1D;
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.subscibe-btn:hover {
    background-color: #fff;
    color: #BEA69E;
    font-weight: 700;
}

.agreement {
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: space-between;
}

/* @media only screen and (min-width: 768px) {
   .agreement {
    gap: 399px;    
  }
} */

/* @media only screen and (min-width: 1280px) {
    .agreement {
        gap: 773px;
    }
} */

/* @media only screen and (min-width: 1440px) {
    .agreement {
            gap: 1044px;
        }
} */

.areement-text {
    align-content: flex-start;
    color: #FFF;
    font-size: 12px;
    line-height: 1.33;
}

@media only screen and (min-width: 768px) {
    .areement-text {
        font-size: 14px;
        line-height: 1.29;
  }
}