.footer>.container {
    display: block;
    background-color: #0f0e0e;
    padding-top: 40px;
    padding-bottom: 20px;
}

.logo {
    margin-bottom: 16px;
}

.logo-lnk {
    width: 127px;
    height: 20px;
    color: #fff;
    font-size: 32px;
}

.contacts-wrapper {
    margin-bottom: 50px;
}

.contacts-list {
    display: inline-flex;
    flex-direction: column;
    width: 142px;
    height: 46px;
    justify-content: space-between;
}

.contacts-list-lnk {
    color: #fff;
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    text-transform: uppercase;
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 75px;
}

.footer-social-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-social-lnk {
    color: #FFF;
    text-transform: uppercase;
}

.footer-about-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sub-wrapper {
    display: flex;
    gap: 8px;
}

.subscibe-form {
    display: flex;
    width: 267px;
    height: 60px;
}

.subscibe-field {
    width: 100%;
    height: 100%;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 12px;
    background: #FFF;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.subscibe-field input::placeholder {
    opacity: 0.7;
}

.subscibe-field input:active {
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.subscibe-btn {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background: #1D1D1D;
    color: #fff;
    border: none;
    padding: 0;
}