/* HEADER */

.header { 
  /* will be deleted */
  background-color: #121212;
  padding-top: 20px;
  padding-bottom: 10px;
}

.wrapper {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px;
}

.logo {
  fill: #fff;
}

.group {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 14px;
}

.link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-icon {
  fill: rgba(190, 166, 158, 0.4);
  transition: fill 1250ms cubic-bezier(0.4, 0, 0.2, 1);
/* we should choose a transition */
}

.link:hover .camera-icon,
.link:focus .camera-icon {
  fill: #BEA69E;
}

.burger-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.burger-icon {
  stroke: #fff;
}

/* BURGER MENU */

.backdrop {
  /* background-color: rgba(18, 18, 18, 0.40); */
  background-color: red;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* we should choose a transition */
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.burger-menu {
  width: 218px;
  height: 100%;
  background-color: #BEA69E;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 24px 40px 16px; */

 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* we should choose a transition */
  z-index: 999;
}

.close-btn {
  display: block;
  margin-left: auto;
  width: 32px;
  height: 32px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  /* reset styles */
  border: none;
  padding: 0;
}

.close-icon {
  stroke: #121212;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-link {
  color: #121212;
    font-family: DM Sans;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
}
.nav-link.accent {
    font-weight: 700;
}

.burger-menu-img {
 position: absolute;
 bottom: 0;
 right: 0;
}