/* HEADER */

.header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header .container {
  display: flex;
  gap: 14px;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .container {
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 20px;
  }
}

.wrapper {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 16px 20px;
  }
}

@media screen and (min-width: 1280px) {
.wrapper {
    padding: 21px 50px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  fill: #fff;
}

.navigation {
  display: none;
}

@media screen and (min-width: 1280px) {
  .navigation {
    display: block;
  }
}

.nav-list {
  display: flex;
  gap: 28px;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .nav-list {
    gap: 40px;
  }
}

.nav-link {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #BEA69E;
  text-shadow: .5px .5px .5px #BEA69E;
}

.icon-group {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 14px;
}

@media screen and (min-width: 1280px) {
  .icon-group {
    display: none;
  }
}

.link-camera {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .link-camera {
    display: none;
  }
}

.camera-icon {
  fill: rgba(190, 166, 158, 0.4);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.link-camera:hover .camera-icon,
.link-camera:focus .camera-icon {
  fill: #BEA69E;
}

.burger-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.burger-icon {
  stroke: #fff;
}

.link-sign-up {
  display: none;
  min-width: 186px;
  padding: 16px;
  border-radius: 12px;
  background: #FFF;
  color: #121212;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-sign-up:hover,
.link-sign-up:focus {
  background-color: #1D1D1D;
  color: #BEA69E;
}

@media screen and (min-width: 768px) {
  .link-sign-up {
    display: inline-block;
  }
}

@media screen and (min-width: 1280px) {
  .link-sign-up {
    min-width: 238px;
}
}

/* BURGER MENU */

.backdrop {
  background-color: rgba(18, 18, 18, 0.40);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
              z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.burger-menu {
  width: 218px;
  height: 100dvh;
  background-color: #BEA69E;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    width: 476px;
  }
}

.burger-menu.is-open {
  transform: translateX(0);
}

.menu-wrapper {
width: 100%;
padding: 20px;
}

@media screen and (min-width: 768px) {
  .menu-wrapper {
    padding: 20px 32px 20px 64px;
  }
}

.close-btn {
  display: block;
  margin-left: auto;
  width: 32px;
  height: 32px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 128px;
}

@media screen and (min-width: 768px) {
  .close-btn {
    width: 40px;
    height: 40px;
    margin-bottom: 172px;
  }
}

.close-icon {
  stroke: #121212;
}

@media screen and (min-width: 768px) {
  .close-icon {
    width: 20px;
    height: 20px;
  }  
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .mob-nav-list {
    gap: 28px;
  }
}

.mob-nav-list .nav-link {
  color: #121212;
  font-family: DM Sans;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}

.mob-nav-list .nav-link:hover,
.mob-nav-list .nav-link:focus {
  font-weight: 700;
}
