ol {
  counter-reset: ol-numbers;
}

ol li {
  position: relative;
  padding: 0px 0px 0px 0px;
}

ol li::before {
  counter-increment: ol-numbers;
  content: '0' counter(ol-numbers) '';
  position: absolute;
  left: 28px;
  top: 28px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.course-titel {
  padding-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .course-titel {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .course-titel {
    max-width: 1280px;
    width: 100%;
    justify-content: space-between;
    padding-top: 75px;
  }
}

@media only screen and (min-width: 1440px) {
  .course-titel {
    max-width: 1440px;
  }
}

.course-titel-cover {
  margin-bottom: 20px;
}

.course-titel-up {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .course-titel-up {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }
}

.course-titel-down {
  color: #bea69e;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .course-titel-down {
    color: #bea69e;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }
}

.course-titel-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .course-titel-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.02em;
    max-width: 381px;
  }
}

@media only screen and (min-width: 1280px) {
  .course-titel-text {
    max-width: 405px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .course-titel-text {
    max-width: 565px;
    width: 100%;
  }
}

/* список курсов */
.courses-list {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-left: 0px;
  margin: 0;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .courses-list {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
}

/* @media only screen and (min-width: 1280px) {
  .courses-list {
    width: 1280px;
  }
}

@media only screen and (min-width: 1440px) {
  .courses-list {
    width: 1440px;
  }
} */

/* лишки */
.courses-part {
  list-style: none;
  line-height: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  width: 100%;
  width: 335px;
  height: 398px;
  flex-shrink: 0;
  padding: 28px 28px 28px 28px;
}

@media only screen and (min-width: 768px) {
  .courses-part {
    width: calc((100% - 20px) / 2);
    height: 452px;
    margin: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .courses-part {
    width: calc((100% - 40px) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .courses-part {
  }
}

.cours-titel {
}

/* кнопка */
.cours-button {
  display: flex;
  position: absolute;
  top: 28px;
  right: 28px;
  background-color: #1d1d1d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1d1d;
  border-radius: 50%;
  cursor: pointer;
}

.cours-button:hover,
.cours-button:focus {
  background-color: #bea69e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cours-arrow {
  display: flex;
  width: 20px;
  height: 20px;
  stroke: rgba(255, 255, 255, 0.4);
  fill: rgba(255, 255, 255, 0.4);
}

.cours-button:hover .cours-arrow,
.cours-button:focus .cours-arrow {
  fill: #ffffff;
  stroke: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cours-button:focus {
  background-color: #bea69e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.course-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 342px;
}

@media only screen and (min-width: 768px) {
  .course-inside {
    height: 388px;
  }
}

.course-title-section {
}

.course-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 60px;
}
.course-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-top: 164px;
}
.course-text-fill {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
