/*H2*/
.reviews{
    padding-top: 40px;
    padding-bottom: 80px;
}

.section-header{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-align: left;

    margin-bottom: 40px;
}

.box-reviews-cards{
    width: 100%;
}

.reviews-card{
    width: 100%;
    padding: 20px;
    border: 1px solid #FFFFFF33;
    border-radius: 12px;
}

.about-reviewer{
   margin-bottom: 20px;
}

.reviewer-personality{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.reviewer-information{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.reviewer-name-status{
    padding-top: 6px;
    padding-bottom: 6px;
}

.reviewer-name{
    margin-bottom: 4px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.reviewer-status{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
}

.reviewer-rating{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;

    width: 100%;
}


.rating-star{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-icon-true{
    fill: #BEA69E;
    stroke: #BEA69E;
}

.star-icon-false{
    fill: #414141;
    stroke: #414141;
}

.review-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

.hidden{
    display: none;
}

@media only screen and (min-width: 768px) {
    .reviews {
            padding-top: 50px;
            padding-bottom: 100px;
        }
    
        .box-reviews {
            width: 640px;
            margin-left: auto;
            margin-right: auto;
        }

        .box-reviewer-rating{
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .section-header {
            margin-bottom: 50px;
            font-size: 48px;
            line-height: 1.3;
        }
    
        .reviews-card{
            position: relative;
        }

        .reviewer-name-status {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    
        .reviewer-name {
            line-height: 1.4;
        }
    
        .reviewer-status {
            font-size: 14px;
            line-height: 1.3;
        }

        .review-text {
            font-size: 16px;
            line-height:  1.25;
        }

        .star-icon-true{
            width: 20px;
            height: 20px;
        }

        .star-icon-false{
            width: 20px;
            height: 20px;
        }
}
    


@media only screen and (min-width: 1280px) {
    .reviews {
            padding-top: 75px;
            padding-bottom: 150px;
        }
    
        .box-reviews {
            width: 100%;
        }
        
        .box-reviews-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: center;
            gap: 20px;
        }
    
        .hidden{
            display: contents;
        }
}

@media only screen and (min-width: 1440px){

}