
/* @media only screen and (min-width: 768px) {
.container-sing-up {
max-width: 768px;
display: flex;

}
   
}

@media only screen and (min-width: 1280px) {
.container-sing-up {
    max-width: 1280px;
} */

.section-sing-up {
    width: 480px;
    height: 578px;
    top: 50%;
    left: 50%;
    margin-left: 100px;


}

.sign-logo {
    color: #FFF;
    font-family: DM Sans, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.12em;
    letter-spacing: -1.92px;
}


.sign-logo-part {
    color: #BEA69E;
    font-family: DM Sans, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
}

.sign-up-text {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
}


.form_list {
    display: block;
    flex-direction: column;
    margin-bottom: 8px;
    color: #2E2F42;

}


.form-label {
    color: #8E8F99;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    display: block;




}

.form_field {

    position: relative;


}

.form_input {
    width: 100%;
    height: 40px;
    gap: 14px;
    border-radius: 12px;
    background-color: transparent;
    color: #FFF;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 18px;
    padding-top: 20px;
    padding-bottom: 19.5px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}



.form_input:focus {
    border-color: #FFFFFF;


}


.form_wrapper {

    margin-bottom: 14px;

}



.form-comment {

    color: #8E8F99;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
    padding-left: 24px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}



.message {
    resize: none;
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    top: 302px;
    border-radius: 12px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: #FFF;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
    outline: transparent;
    
    background-color: transparent;


}

.message:focus {
    border-color: #FFFFFF;
}

.message::placeholder {
    color: #8E8F99;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    padding-left: 20.5px;
    padding-top: 8px;

}


.sing-up-user-privacy {
    margin-bottom: 24px;
}



.privacy_label {
    display: block;
    align-items: center;
    margin-top: 20px;
    color: #8E8F99;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;


}





.privacy-decor {
    text-decoration-line: underline;
    color: #8E8F99;

}


.button-sign-up {
    display: block;
    padding-top: 16px 216px;
    gap: 40px;
    background-color: #FFFFFF;
    color: var(--black, #121212);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-height: 60px;
    border: none;
    min-width: 100%;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-sign-up:hover,
.button-sign-up:focus {
    background-color: #1D1D1D;
    color: #BEA69E;

}

.container-sing-up-foto {
    flex-direction: row;
    margin-left: 200px;
    margin-right: 100px;
    width: 50%;
    display: flex;


}

.lens {
    width: 190px;
    height: 288px;
    flex-shrink: 0;
    top: 0;
    border-radius: 1000px;
    background: #BEA69E;
}

.camera {
    width: 350px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: #1D1D1D;
}










/* @media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1280px){

} */

